body{
    margin: 0;
}


.background{
    background-color: #121212;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.Browser-Maintext{
    margin-top: 40px;
    margin-bottom: 16px;
    padding: 0;
    text-align: center;
    font-family: "Suit_EB";
    font-size: 32px;
    color: white;
}

.Browser-Skillbox{
    width: 300px;
    height: 100%;
    margin: 24px 40px 24px 40px;
    padding-bottom: 32px;
    background-color: #fcfcfc;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
}

.Browser-Skillbox-Header{
    margin: 20px 68px;
    font-size: 20px;
    padding: 0;
    text-align: center;
    color:black;
    font-family: "Suit_B";
}

.Browser-Skillbox-Header-UnderLine{
    width: 260px;
    height: 2px;
    margin: 0px 20px;
    background-color: #D9D9D9;
}

.Browser-Skillbox-icon{
    width: 116px;
    height: 116px;
    margin: 20px 10px 0;
}

.Mobile-Maintext{
    margin-top: 5.1282vh;
    margin-bottom: 2.05vh;
    padding: 0;
    line-height: calc(4px + 8.42105vmin);
    text-align: center;
    font-family: "Suit_EB";
    font-size: calc(4px + 7.36vmin);
    color: white;
}

.Mobile-Skillbox{
    width: 79vw;
    height: 100%;
    margin: 3.077vh 10.5vw;
    padding-bottom: 5.2vmin;
    background-color: #fcfcfc;
    text-align: center;
    display:inline-block;
    border-radius: 15px;
}

.Mobile-Skillbox-Header{
    margin: 2.5vh;
    font-size: 6.3vmin;
    padding: 0;
    text-align: center;
    color:black;
    font-family: "Suit_B";
}

.Mobile-Skillbox-Header-UnderLine{
    width: 68.5vw;
    height: 0.25vh;
    margin: 0px 5vw;
    background-color: #D9D9D9;
}

.Mobile-Skillbox-icon{
    width: 30.5vmin;
    height: 30.5vmin;
    margin: 5.2vmin 2.63vmin 0;
}

@font-face{
    font-family: "Suit_EB";
    src: url("./fonts/SUIT-ExtraBold.ttf");
}

@font-face{
    font-family: "Suit_B";
    src: url("./fonts/SUIT-Bold.ttf");
}

  