body{
    margin: 0;
}


.background{
    background-color: #121212;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.Browser-Maintext{
    margin-top: 56px;
    margin-bottom: 32px;
    padding: 0;
    text-align: center;
    font-family: "Suit_EB";
    font-size: 32px;
    color: white;
}

.Browser-Skillbox{
    width: 276px;
    height: 100%;
    margin: 24px 40px 24px 40px;
    padding-bottom: 28px;
    background-color: #fcfcfc;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
}

.Browser-Skillbox-Header{
    padding-top: 24px;
    padding-bottom: 20px;
    font-size: 20px;
    margin-bottom: 4px;
    text-align: center;
    color:white;
    background-color: #333333;
    font-family: "Suit_B";
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.Browser-Skillbox-icon{
    width: 100px;
    height: 100px;
    margin: 20px 10px 0;
}

.Mobile-Maintext{
    margin-top: 7.17vh;
    margin-bottom: 4.1vh;
    padding: 0;
    line-height: calc(4px + 8.42105vmin);
    text-align: center;
    font-family: "Suit_EB";
    font-size: calc(4px + 7.36vmin);
    color: white;
}

.Mobile-Skillbox{
    width: 72.63vw;
    height: 100%;
    margin: 3.077vh;
    padding-bottom: 7.3vw;
    background-color: #fcfcfc;
    text-align: center;
    display:inline-block;
    border-radius: 15px;
}

.Mobile-Skillbox-Header{
    margin-bottom: 1vw;
    font-size: 5.2vw;
    padding: 6.33vw 0px 5.2vw;
    text-align: center;
    color:white;
    font-family: "Suit_B";
    background-color: #333333;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.Mobile-Skillbox-Header-UnderLine{
    width: 62.1vw;
    height: 0.25vh;
    margin: 0px 5vw 1vw;
    background-color: #D9D9D9;
}

.Mobile-Skillbox-icon{
    width: 26.3vw;
    height: 26.3vw;
    margin: 5.2vmin 2.63vmin 0;
}

@font-face{
    font-family: "Suit_EB";
    src: url("./fonts/SUIT-ExtraBold.ttf");
}

@font-face{
    font-family: "Suit_B";
    src: url("./fonts/SUIT-Bold.ttf");
}

  